<div class="card shadow-sm mt-4">
  <div class="card-header">
    <h4 class="mb-0">List of contracts</h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-hover table-bordered text-center">
        <thead>
          <tr>
            <th>Start date</th>
            <th>End date</th>
            <th>Legal</th>
            <th colspan="3">Action</th>
          </tr>
        </thead>

        <tbody>
          <% @contracts.each do |contract| %>
            <tr>
              <td><%= contract.start_date %></td>
              <td><%= contract.end_date %></td>
              <td><%= contract.legal %></td>
              <td><%= link_to 'Show', employee_contract_path(@employee.id, contract.id) %></td>
              <td><%= link_to 'Edit', edit_employee_contract_path(@employee.id, contract.id) %></td>
              <td><%= link_to 'Destroy', employee_contract_path(@employee.id, contract.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
