<% content_for :breadcrumb do %>
  <li class="breadcrumb-item active">Employees <span class="badge bg-success">DETAIL</span></li>
  <%= back_to employees_path %>
<% end %>

<% content_for :functions do %>
  <%= link_to 'New Contract', new_employee_contract_path(employee_id: @employee.id), class: 'btn btn-primary' %>
<% end %>

<p id="notice"><%= notice %></p>

<%= render 'employees/form', employee: @employee %>
<%= render 'employees/contracts', contracts: @contracts if @contracts %>
<%= render 'employees/versions', versions: @versions if @versions %>
